<div class="contact">
        
    <!-- Contact Info -->

    <div class="contact_info_container">
        <div class="container">
            <div class="row">

                <!-- Contact Form -->
                <div class="col-lg-12">
                    <div class="contact_form">
                        <div class="contact_info_title" style="margin-top:30px ;"> {{title}} Event Details</div>
                        <form  class="comment_form" #addEventForm="ngForm" (ngSubmit)="submitEventData()">
                            <div>
                                <div class="form_title">Event Title</div>
                                <input type="text" class="comment_input" required="required" [(ngModel)]="event.title" [ngModelOptions]="{standalone:true}">
                            </div>

                            <div>
                                <div class="form_title">Event Place</div>
                                <input type="text" class="comment_input" required="required" [(ngModel)]="event.place" [ngModelOptions]="{standalone:true}">
                            </div>

                            <div>
                                <div class="form_title">Event Day</div>
                                <label for="day"></label>
                                <select multiple class="comment_input" id="day" [(ngModel)]="event.day" [ngModelOptions]="{standalone:true}">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                  <option value="10">10</option>
                                  <option value="11">11</option>
                                  <option value="12">12</option>
                                  <option value="13">13</option>
                                  <option value="14">14</option>
                                  <option value="15">15</option>
                                  <option value="16">16</option>
                                  <option value="17">17</option>
                                  <option value="18">18</option>
                                  <option value="19">19</option>
                                  <option value="20">20</option>
                                  <option value="21">21</option>
                                  <option value="22">22</option>
                                  <option value="23">23</option>
                                  <option value="24">24</option>
                                  <option value="25">25</option>
                                  <option value="26">26</option>
                                  <option value="27">27</option>
                                  <option value="28">28</option>
                                  <option value="29">29</option>
                                  <option value="30">30</option>
                                  <option value="31">31</option>
                                </select>
                            </div>
                            
                            <div class="form_title">
                                <label for="month">Event Month</label>
                                <select multiple class="comment_input" id="month" [(ngModel)]="event.month" [ngModelOptions]="{standalone:true}">
                                  <option value="Jan">Jan</option>
                                  <option value="Feb">Feb</option>
                                  <option value="Mar">Mar</option>
                                  <option value="Apr">Apr</option>
                                  <option value="May">May</option>
                                  <option value="Jun">Jun</option>
                                  <option value="Jul">Jul</option>
                                  <option value="Aug">Aug</option>
                                  <option value="Sep">Sep</option>
                                  <option value="Oct">Oct</option>
                                  <option value="Nov">Nov</option>
                                  <option value="Dec">Dec</option>
                                </select>
                            </div>

                            <div>
                                <div class="form_title">Event Year</div>
                                <input type="text" class="comment_input" required="required" [(ngModel)]="event.year" [ngModelOptions]="{standalone:true}">
                            </div>

                            <div>
                                <div class="form_title">Event Begining Time </div>
                                <input type="time" class="comment_input" required="required" [(ngModel)]="event.beginTime" [ngModelOptions]="{standalone:true}">
                            </div>

                            <div>
                                <div class="form_title">Event Ending Time </div>
                                <input type="time" class="comment_input" required="required" [(ngModel)]="event.endTime" [ngModelOptions]="{standalone:true}">
                            </div>

                            <div>
                                <div class="form_title">Event Description</div>
                                <textarea type="text-area" class="comment_input" required="required" [(ngModel)]="event.description" [ngModelOptions]="{standalone:true}"></textarea>
                            </div>

                            <div>
                                <div class="form-group form_title">
                                    <label for="image">Event Image</label>
                                    <input type="file" id="image" class="form-control-file comment_input" required="required" [(ngModel)]="event.image" [ngModelOptions]="{standalone:true}">
                                </div>
                            </div>
                            

                            <div>
                                <button type="submit" class="comment_button trans_200"> {{title}} Event</button>
                            </div>
                        </form>
                    </div>
                </div>

              
            </div>
        </div>
    </div>
</div>

