<form>
    <div class="text-center" style="margin-top:50px;">
                <label for="">Filter by trainer </label>
                <input type="text" [(ngModel)]='term' [ngModelOptions]="{standalone:true}">
    </div>
</form>



<table class="table table-striperd">

   
    <tr>
        <th>Course_Id</th>
        <th> Title</th>
        <th>Trainer</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let course of courses | filter:term" > 
        <td>{{course._id}}</td>
        <td>{{course.name}}</td>
        <td>{{course.trainer }}</td>
        <td>{{course.description}}</td>
        <td>{{course.price}} Dt</td>
        <td><img [src]="course.img" width="150px" height="150px" ></td>
        <td>
            <button class="btn btn-info" (click)='displayCourse(course._id)'>Display</button>
            <button class="btn btn-info" (click)='editCourse(course._id)'>Edit</button>
            <button class="btn btn-info" (click)='deleteCourse(course._id)'>Delete</button>
        </td>

    </tr>
</table>
