<div class="super_container">

		<!-- Header -->

	<app-header></app-header> 

		<!-- Menu -->

	<app-menu></app-menu>
	
		<!-- Home -->

	<app-homeslider></app-homeslider>

		<!-- Features -->

	<app-features></app-features>

		<!-- Popular Courses -->

	<app-courses></app-courses>

		<!-- Counter -->

	<app-counter></app-counter>

		<!-- Events -->

	<app-events></app-events>

		<!-- Team -->

	<app-team></app-team>

		<!-- Latest News -->

	<app-news></app-news>

		<!-- Newsletter -->

	<app-news-letter></app-news-letter>

		<!-- Footer -->

	<app-footer></app-footer>

</div>