<div class="events">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                   <!-- <h2 class="section_title">Upcoming events</h2>-->
                    <div class="section_subtitle" style="padding-top: 100px;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
                    <img data-ils="4" jsaction="rcuQ6b:trigger.M8vzZb;" class="rg_i Q4LuWd" jsname="Q4LuWd" width="276" height="168" data-index="0" alt="Upcoming Events High Res Stock Images | Shutterstock" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOQCJ6DZn_m2dExL2lPVuMlrSzJ4E8uAXKAg&amp;usqp=CAU">
                </div>
            </div>
        </div>
        <div class="row events_row" *ngFor= "let event of events">

            <!-- Event -->
            <app-event-prototype [eventInput]="event" > </app-event-prototype>
        

        </div>
    </div>
</div>
