<div class="col-lg-3 col-md-6 team_col">
    <div class="team_item">
        <div class="team_image"><img src="assets/images/team_1.jpg" alt=""></div>
        <div class="team_body" style="margin-block-end: 0%;">
            <div class="team_title"><a href="#">{{trainerInput.firstName}} {{trainerInput.lastName}}</a></div>
            <div class="team_subtitle">{{trainerInput.speciality}}</div>
            <div class="team_subtitle">{{trainerInput.grade}}</div>
            <div class="team_subtitle">{{trainerInput.tel}}</div>
            <div class="social_list">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
